.img-passo-tomorrow {
    width: 100%;
    max-width: 450px;
}
.img-passo-personalizacao {
    width: 100%;
    max-width: 450px;
}
.img-passo-ingresso {
    width: 100%;
    max-width: 650px;
}
.box-personalizacao {
    width: 200px;
}

.espaco-compra-tomorrow {
    margin-top: 30px;
}
.data-item {
    display: inline-block;
    background-color: transparent;
    border-radius: 5px;
    width: 100%;
    max-width: 250px;
    border-bottom: 1px solid #d63a76;
    box-shadow: 1px 1px 1px 1px #ddd;
    color: #d63a76;
    padding: 12px;
    margin: 5px 5px 0 5px;
    text-align: center;
}
.text-small-tomorrow {
    font-size: 10px;
}
.link-branco {
    color: #fff;
}
.link-branco:hover {
    color: blue;
    text-decoration: none;
}

.margin-icon {
    color: #d63a76;
    padding-right: 10px;
}
.btn-display-tomorrow a {
    display: inline-block;
    background-color: #fff;
    border-radius: 2px;
    width: 300px;
    color: #000 ;
    border: 2px solid #000;
    padding: 10px;
    margin: 10px 5px 10px 0;
    font-weight: bold;
}
.data-item-p {
    margin-bottom: 0 !important;
    font-weight: bold;
    font-size: 18px
}
.btn-tomorrow {
    text-transform: uppercase;
}

.img-thegathering {
    width: 100%;
    max-width: 750px;
}

@media (max-width:650px) {
    .img-passo-tomorrow {
        width: 100%;
    }
    .btn-display-tomorrow a {
        width: 100%;
        margin: 10px 0 5px 0;
    }
    .data-item {
        width: 100%;
    }
    .datas-tomorrow {
        text-align: center;
    }
    .margin-mobile {
        margin-top: 30px;
    }
    .img-thegathering{
        width: 100%;
    }
  }

  /* PREÇOS DE INGRESSO */
  .preco-ingresso {
      color: #c13838;
  }

  .padding-tomorrow {
      padding: 0px 15px 0 15px;
  }

  .img-passo-dreamville {
    width: 100%;
  }

  .border-bottom {
      border-bottom: 1px solid #d63a76 !important;
  }

  